img{
  width: 500px;
  height: 500px;
}

body{
  background-color: Aquamarine;
}

p{
  color: red;
  text-color: orange;
  font-size: 100px;
}

#banner{
  font-size: 50px;
}

.id{
  border: 1px black dashed;
}
